<div class="container">
  <%= simple_form_for @new_island do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
  <% end %>
</div>
