<div class="container">
  <h1> Island Name:  <%= @island.name %> </h1>

  <p> Island Location: <%= @island.location %> </p>
  <p> Island Price: <%= @island.price %>€ </p>
  <p> Island Description: <%= @island.description%> </p>

  <% if policy(@island).edit? %>
    <%= link_to 'Delete', island_path(@island), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %> | <%= link_to 'edit', edit_island_path(@island), class: 'btn btn-primary' %> |
    <%= link_to 'back', user_path(current_user), class: 'text-decoration-none' %>
  <% else %>
    <%= link_to 'Book now!', new_island_booking_path(@island), class: "btn btn-primary" %> |
    <%= link_to 'All Islands page', islands_path %> |
  <% end %> 

</div>
