<div class="container">

<h1>
Island Name:  <%= @island.name %>
</h1>

<p>
  Island Location: <%= @island.location %>
</p>
<p>
  Island Price: <%= @island.price %>€
</p>
<p>
  Island Description: <%= @island.description%>
</p>
<%= link_to 'Back', islands_path %> |
</div>

 