<div class="container">
  <h1>NEW BOOKING</h1>
  <h2>Book <%= @island.name %></h2>

  <%= simple_form_for [@island, @booking] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>

    <%# f.input :start_date, label: 'Start Date', error: 'Start Date is mandatory, please specify one' %>
    <%# f.input :end_date, label: 'End Date', error: 'End Date is mandatory, please specify one' %>
    
    <%# f.label :price %>
    <br>
    <%= f.submit 'Book', class: 'btn btn-primary' %>
  <% end %>
</div>
