<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/164041/pexels-photo-164041.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container"> 
    <br>
    <h1>Rent islands <br> For unforgetable experiences! </h1> 
    <br>
    <button type="button" class="btn btn-light"> <%= link_to 'All Islands', islands_path, style:"font-size:30px; text-decoration: none;" %></button> 
  </div> 
</div>

<div class="container"> 
  <div id="explore" class="explore">
    <h1>Explore these regions </h1>
  </div> 

  <div id="cardregion" class="cardregion">
    <div class="card-category-region" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/3601450/pexels-photo-3601450.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
      <%= link_to 'Indian Ocean' , islands_path(ocean: "Indian Ocean") %> 
    </div>

    <div class="card-category-region" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/981451/pexels-photo-981451.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
      <%= link_to 'Pacific Ocean' , islands_path(ocean: "Pacific Ocean") %>
    </div>

    <div class="card-category-region" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1933320/pexels-photo-1933320.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
      <%= link_to 'Arctic Ocean' , islands_path(ocean: "Arctic Ocean") %>
    </div>
    
    <div class="card-category-region" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/3384695/pexels-photo-3384695.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
      <%= link_to 'Atlantic Ocean' , islands_path(ocean: "Atlantic Ocean") %>
    </div>
    
    <div class="card-category-region" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1268869/pexels-photo-1268869.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
    </div>
    
    <div class="card-category-region" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/2249780/pexels-photo-2249780.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
    </div>
    
    <div class="card-category-region" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/925030/pexels-photo-925030.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
    </div>
    
    <div class="card-category-region" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/2548562/pexels-photo-2548562.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
    </div>
  </div>
</div>

